#add_entry_header {
    color: #FF8000;
    font-size: 32px;
}

#go_back_diary_list {
    color: #FF8000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

#diary_form {
    color: #FF8000;
}

#diary_submit_button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #FF8000;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

#diary_submit_button:hover {
    background-color: #D65A31;
}

#go_back_diary_list:hover {
    text-decoration: underline;
}
