<!DOCTYPE html>
{% load static %} <!-- Static kullanıyorsak bunu kullanmamız lazım -->
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>FitNarts</title>
    {% load static %} <!-- STATIC için load static yapıyoruz -->
    <!-- Her bir css dosyası için buraya link ekliyoruz -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercise_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_exercise.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/exercise_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/counter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/timer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/health_calculator.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/diary_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_entry.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/edit_entry.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
</head>
<body>
    {% include 'base/navbar.html' %}

    <!-- Flash Message kullanımı -->
    {% if messages %} <!-- messages adında veri olup olmadığını kontrol eder -->
    <ul>
        {% for message in messages %} <!-- messages kısmında yer alan tüm mesajları yazdırıyorum -->
            <li>{{ message }}</li> <!-- <ul> içerisine message'leri <li> ile yazdırıyorum -->
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    
    {% endblock %}

    {% block scripts %}

    <script> /* Timer'in anlık olarak geçen süreyi göstermesi */
        let isRunning = {{ timer.is_running|yesno:"true,false" }};
        let elapsedTime = {{ timer.elapsed_time|floatformat:2 }};
        let startTime = new Date('{{ timer.start_time|date:"c" }}').getTime();

        function updateTimer() {
            const timerDisplayMinutes = document.getElementById('elapsed-minutes');
            const timerDisplaySeconds = document.getElementById('elapsed-seconds');
            if (isRunning) {
                const now = new Date().getTime();
                elapsedTime += (now - startTime) / 1000;
                startTime = now;
            }
            const minutes = Math.floor(elapsedTime / 60);
            const seconds = Math.floor(elapsedTime % 60);
            timerDisplayMinutes.textContent = minutes;
            timerDisplaySeconds.textContent = seconds.toString().padStart(2, '0');
        }

        setInterval(updateTimer, 1000);
    </script>

    {% endblock %}
</body>
</html>